.color{
    color: white;
}
.heading{
    text-align: center;
    // background-color: aqua;
    background-color: blueviolet;
}
.toggle{
    // border: 1px solid black;
    // color: white;
    // background-color: beige;
    margin-left: 1400px;
}
.page{
    height: 100%;
}
.showHide{
    float: right;
    position: relative;
    bottom: 29px;
    right: 10px;
    color: black;
}
thead{
    text-align: center;
}
tbody{
    text-align: center;
}
